.about {
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__img {
    border-radius: 10px;
    margin-right: 40px;
    flex: 0 0 20%;
  }
  &__info {
    flex: 0 0 50%;
  }
  &__title {
    font-size: 30px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
  }
  &__text {
    font-size: 18px;
    line-height: 1.6;
  }
}
