@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.otf");
}
@font-face {
  font-family: "InterB";
  src: url("../fonts/Inter-Bold.otf");
}

@font-face {
  font-family: "interM";
  src: url("../fonts/Inter-Medium.otf");
}
